.form_fix{
    width: 100%;
    padding-left: 40%;
    padding-right: 40%;
    margin-top:10%;
}
.jumbotron_fix{
    text-align: center;
    margin: 10%;
}
.aaalert {
    margin:auto;
    background-color: #f44336;
    color: white;
  }
  
.closebtnn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.closebtn:hover {
    color: black;
  }
#alerttest{
     width: 60%;
     margin-left: auto;
     margin-right: auto;
     z-index: 99;
  }
body{
  width: 100%;
  height: 100%;
}